<%- include("partials/header") %>

<p><%= campground.name %></p>

<img src="<%= campground.image %>" height="100px" width="100px">

<p><%= campground.description %></p>

<%- include("partials/footer") %>